In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("D:/AI - Exercise/VietAI-x-CoderSchool/Week5/BTVN_1/dataset_1.csv")

In [7]:
data.head()

,Rank,City,Population,Area KM2,Area M2,Density KM2,Density M2,Country,Year
0,1.0,Manila,"1,846,513",43,17,"43,062","111,532",Filipinler *,2020 [1] 2018 [2]
1,2.0,Mandaluyong,"425,758",11,4,"38,495","99,703",Filipinler *,2020 [1] [3]
2,3.0,pateros,"65,227",2,1,"37,061","95,988",Filipinler *,2020 [1] 2013 [3]
3,4.0,Caloocan,"1,661,584",53,21,"31,233","80,893",Filipinler *,2020 [1] [3]
4,5.0,ben fren,"212,646",7,3,"30,001","77,702",İsrail *,2022 [4] [5]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         78 non-null     float64
 1   City         78 non-null     object
 2   Population   78 non-null     object
 3   Area KM2     78 non-null     object
 4   Area   M2    78 non-null     object
 5   Density KM2  78 non-null     object
 6   Density  M2  78 non-null     object
 7   Country      78 non-null     object
 8   Year         78 non-null     object
dtypes: float64(1), object(8)
memory usage: 5.6+ KB

In [11]:
# Xóa dấu , trong Population, Density KM2	Density M2
def remove_comma(x):
    return x.replace(",","")

data["Population"] = data["Population"].apply(lambda x: remove_comma(x))
data["Density KM2"] = data["Density KM2"].apply(lambda x: remove_comma(x))
data["Density  M2"] = data["Density  M2"].apply(lambda x: remove_comma(x))

In [13]:
# Chuyển đổi dữ liệu từ object sang các dạng phù hợp
data["Rank"] = data["Rank"].astype("int")
data["City"] = data["City"].astype("string")
data["Population"] = pd.to_numeric(data["Population"], errors='coerce')
data['Area KM2'] = pd.to_numeric(data['Area KM2'], errors='coerce')
data['Area   M2'] = pd.to_numeric(data['Area   M2'], errors='coerce')
data["Density KM2"] = pd.to_numeric(data["Density KM2"], errors='coerce')
data["Density  M2"] = pd.to_numeric(data["Density  M2"], errors='coerce')
data["Country"] = data["Country"].astype("string")

In [15]:
print(data.to_string())

    Rank                       City  Population  Area KM2  Area   M2  Density KM2  Density  M2                         Country                 Year
0      1                     Manila     1846513      43.0       17.0        43062       111532                    Filipinler *   2020  [1] 2018 [2]
1      2                Mandaluyong      425758      11.0        4.0        38495        99703                    Filipinler *        2020  [1] [3]
2      3                    pateros       65227       2.0        1.0        37061        95988                    Filipinler *   2020  [1] 2013 [3]
3      4                   Caloocan     1661584      53.0       21.0        31233        80893                    Filipinler *        2020  [1] [3]
4      5                   ben fren      212646       7.0        3.0        30001        77702                        İsrail *         2022 [4] [5]
5      6                   Katmandu     1442000      49.0       19.0        29161        75526                         Nepal *             2020 [6]
6      7                      Dakka     8906136     306.0      118.0        29069        75289                     Bangladeş *                    -
7      8                     Makati      629616      22.0        8.0        28975        75044                    Filipinler *        2020  [1] [3]
8      9                  Manhattan     1628701      59.0       23.0        27544        71340     Amerika Birleşik Devletleri                 2020
9     10             Port-au-Prince      987310      36.0       14.0        27395        70953                         Hatay *             2015 [7]
10    11           Levallois-Perret       64379       2.0        1.0        26713        69187                        Fransa *             2020 [8]
11    12                  Vincennes       49891       2.0        1.0        26121        67653                        Fransa *             2020 [9]
12    13       Le Pré-Saint-Gervais       17950       1.0        0.0        25643        66415                        Fransa *            2020 [10]
13    14                      pasig      803159      31.0       12.0        25530        66122                    Filipinler *        2020  [1] [3]
14    15                     Karaçi    14910352     591.0      228.0        25229        65343                      Pakistan *       2017 [11] [12]
15    16                Saint-Mande       22619       1.0        0.0        24586        63677                        Fransa *            2020 [13]
16    17                    Kalküta     4496694     185.0       71.0        24306        62954                     Hindistan *  2019 [14] 2013 [15]
17    18                  Montrouge       50260       2.0        1.0        24280        62886                        Fransa *            2020 [16]
18    19      Saint-Josse-ten-Noode       27548       1.0        0.0        24165        62587                       Belçika *                    -
19    20                    Malabon      380522      16.0        6.0        23842        61751                    Filipinler *        2020  [1] [3]
20    21                      Pasay      440656      19.0        7.0        23640        61229                    Filipinler *        2020  [1] [3]
21    22            Napoli, Selanik       27084       1.0        0.0        23149        59955                    Yunanistan *                    -
22    23                      Erkek      133412       6.0        2.0        23002        59575                     Maldivler *                    -
23    24                        Şam     1711000      77.0       30.0        22221        57552                        Suriye *                    -
24    25                  Navotalar      247543      12.0        4.0        21507        55703                    Filipinler *        2020  [1] [3]
25    26                     Asmara      963000      45.0       17.0        21400        55426                        Eritre *            2012 [24]
26    27                    Mıslata       43756       2.0        1.0        21241        55014                       İspanya *                    -
27    28                      Makao      643100      30.0       12.0        21224        54971                         Makao *       2015 [26] [27]
28    29                  Kallithea      100050       5.0        2.0        21063        54554                    Yunanistan *                    -
29    30                Yeni Smyrni       73090       4.0        1.0        20764        53779                    Yunanistan *                    -
30    31                      Paris     2187526     105.0       41.0        20755        53754                        Fransa *            2020 [29]
31    32                      naber     1072161      52.0       20.0        20722        53670                     Hindistan *                    -
32    33                     Bombay    12442373     603.0      233.0        20634        53442                     Hindistan *  2013 [30] 2019 [32]
33    34     San Juan, Metro Manila      126347       6.0        2.0        21524        55748                    Filipinler *        2020  [1] [3]
34    35                    Kolombo      752993      37.0       14.0        20351        52710                     Sri Lanka *                    -
35    36  L'Hospitalet de Llobregat      252171      12.0        5.0        20336        52671                       İspanya *            2016 [33]
36    37                   Marikina      456059      23.0        9.0        20144        52173                    Filipinler *        2020  [1] [3]
37    38               Birlik Şehri       66455       3.0        1.0        20047        51921   Amerika Birleşik Devletleri *                    -
38    39               Saint-Gilles       50002       3.0        1.0        19842        51391                       Belçika *                    -
39    40                      Klişe       61070       3.0        1.0        19828        51354                        Fransa *            2020 [36]
40    41               Kotsiubynske       17249       1.0        0.0        19826        51351                       Ukrayna *                    -
41    42                 Courbevoie       81719       4.0        2.0        19597        50756                        Fransa *            2020 [37]
42    43       Boulogne-Billancourt      120071       6.0        2.0        19460        50403                        Fransa *            2020 [38]
43    44              Batı New York       49708       3.0        1.0        19060        49365   Amerika Birleşik Devletleri *                    -
44    45                  las pinas      606293      32.0       12.0        18935        49041                    Filipinler *        2020  [1] [3]
45    46                 Koekelberg       21990       1.0        0.0        18795        48679                       Belçika *                    -
46    47                    Bandung     3075478     167.0       64.0        18416        47698                     Endonezya *                    -
47    48    General Mariano Alvarez      172433       9.0        4.0        18344        47511                    Filipinler *  2020  [1] 2013 [39]
48    49                     Monako       36950       2.0        1.0        18292        47377                        Monako *                    -
49    50                  Les Lilas       23045       1.0        0.0        18290        47370                        Fransa *            2020 [42]
50    51                    Hoböken       60417       3.0        1.0        18225        47204   Amerika Birleşik Devletleri *            2020 [34]
51    52                 Giv'atayim       58500       3.0        1.0        18056        46764                        İsrail *            2019 [43]
52    53               Quezon şehir     2960048     166.0       64.0        17882        46315                    Filipinler *        2020  [1] [3]
53    54                   Vanveler       27729       2.0        1.0        17775        46037                        Fransa *            2020 [44]
54    55         Asnières-sur-Seine       85191       5.0        2.0        17674        45777                        Fransa *            2020 [45]
55    56      Ciudad Nezahualcóyotl     1110565      63.0       24.0        17503        45334                       Meksika *            2010 [46]
56    57                   Suginami      582065      34.0       13.0        17089        44262                       Japonya *                    -
57    58   Santa Coloma de Gramenet      118821       7.0        3.0        16974        43964                       İspanya *            2019 [47]
58    59              Modi'in Illit       80894       5.0        2.0        16748        43378                        İsrail *                 2022
59    60                  Çittagong     2582401     155.0       60.0        16661        43151                     Bangladeş *            2018 [48]
60    61        Sint-Jans-Molenbeek       97462       6.0        2.0        16547        42857                       Belçika *                    -
61    62                       Seul     9962393     605.0      234.0        16461        42634                    Güney Kore *  2019 [49] 2013 [50]
62    63             Kore mahallesi      124281       NaN        NaN        16452        42610     Amerika Birleşik Devletleri                 2020
63    64          Charenton-le-Pont       30374       2.0        1.0        16418        42524                        Fransa *            2020 [51]
64    65        La Garenne-Colombes       29169       2.0        1.0        16387        42443                        Fransa *            2020 [52]
65    66                 Schaerbeek      133309       8.0        3.0        16377        42417                       Belçika *                    -
66    67          Neuilly-sur-Seine       60361       4.0        1.0        16183        41913                        Fransa *            2020 [53]
67    68        Issy-les-Moulineaux       68451       4.0        2.0        16106        41715                        Fransa *            2020 [54]
68    69                  Barselona     1636732     101.0       39.0        16149        41827                       İspanya *            2021 [55]
69    70                    Cakarta    10560000     662.0      255.0        15964        41346                     Endonezya *  2019 [56] 2020 [57]
70    71                    nazikçe       18605       1.0        0.0        15767        40836                        Fransa *            2020 [58]
71    72                     Kahire     9539673     606.0      234.0        15742        40772                         Mısır *  2019 [59] 2017 [60]
72    73                     Cimahi      568400      40.0       16.0        14080        36467                     Endonezya *                 2020
73    74                    Senglea        2820       0.0        0.0        14100        36519                         Malta *                 2013
74    75            Rosario, Cavite      110807       8.0        3.0        14561        37712                    Filipinler *  2020  [1] 2013 [39]
75    76                    Mandaue      364116      25.0       10.0        14461        37453                    Filipinler *  2020  [1] 2013 [39]
76    77                     bacoor      664625      46.0       18.0        14395        37284                    Filipinler *  2020  [1] 2013 [39]
77    78          San Pedro, Laguna      326001      24.0        9.0        13555        35108                    Filipinler *  2020  [1] 2013 [39]

In [17]:
# Thay đổi giá trị index 62
x = data["Area KM2"].median()
y = data["Area   M2"].median()
data.loc[62, "Area KM2"] = x
data.loc[62, "Area   M2"] = y

In [19]:
#  Task 1: Sắp xếp và in ra 10 thành phố có dân số lớn nhất & 10 thành phố có dân số nhỏ nhất

city_large = data.sort_values(by="Population", ascending=False).head(10) # lớn nhất
city_small = data.sort_values(by="Population", ascending=True).head(10) # nhỏ nhất

task1 = pd.concat([city_large, city_small])
print(task1.to_string())

    Rank                   City  Population  Area KM2  Area   M2  Density KM2  Density  M2        Country                 Year
14    15                 Karaçi    14910352     591.0      228.0        25229        65343     Pakistan *       2017 [11] [12]
32    33                 Bombay    12442373     603.0      233.0        20634        53442    Hindistan *  2013 [30] 2019 [32]
69    70                Cakarta    10560000     662.0      255.0        15964        41346    Endonezya *  2019 [56] 2020 [57]
61    62                   Seul     9962393     605.0      234.0        16461        42634   Güney Kore *  2019 [49] 2013 [50]
71    72                 Kahire     9539673     606.0      234.0        15742        40772        Mısır *  2019 [59] 2017 [60]
6      7                  Dakka     8906136     306.0      118.0        29069        75289    Bangladeş *                    -
16    17                Kalküta     4496694     185.0       71.0        24306        62954    Hindistan *  2019 [14] 2013 [15]
46    47                Bandung     3075478     167.0       64.0        18416        47698    Endonezya *                    -
52    53           Quezon şehir     2960048     166.0       64.0        17882        46315   Filipinler *        2020  [1] [3]
59    60              Çittagong     2582401     155.0       60.0        16661        43151    Bangladeş *            2018 [48]
73    74                Senglea        2820       0.0        0.0        14100        36519        Malta *                 2013
40    41           Kotsiubynske       17249       1.0        0.0        19826        51351      Ukrayna *                    -
12    13   Le Pré-Saint-Gervais       17950       1.0        0.0        25643        66415       Fransa *            2020 [10]
70    71                nazikçe       18605       1.0        0.0        15767        40836       Fransa *            2020 [58]
45    46             Koekelberg       21990       1.0        0.0        18795        48679      Belçika *                    -
15    16            Saint-Mande       22619       1.0        0.0        24586        63677       Fransa *            2020 [13]
49    50              Les Lilas       23045       1.0        0.0        18290        47370       Fransa *            2020 [42]
21    22        Napoli, Selanik       27084       1.0        0.0        23149        59955   Yunanistan *                    -
18    19  Saint-Josse-ten-Noode       27548       1.0        0.0        24165        62587      Belçika *                    -
53    54               Vanveler       27729       2.0        1.0        17775        46037       Fransa *            2020 [44]

In [21]:
#  Task 2: In ra tên các quốc gia có tối thiểu 3 thành phố trong danh sách này
task2 = data.groupby("Country").size()
print(task2[task2>=3])

Country
 Amerika Birleşik Devletleri *     3
 Belçika *                         5
 Endonezya *                       3
 Filipinler *                     18
 Fransa *                         17
 Hindistan *                       3
 Yunanistan *                      3
 İspanya *                         4
 İsrail *                          3
dtype: int64

In [23]:
#  Task 3: In ra Top 5 quốc gia có nhiều thành phố xuất hiện trong bảng này nhất
task3 = task2.sort_values(ascending=False).head(5)
print(task3)

Country
 Filipinler *    18
 Fransa *        17
 Belçika *        5
 İspanya *        4
 İsrail *         3
dtype: int64

In [25]:
# Task 4: In ra các thành phố có dân số & diện tích đều nằm trong Top 20
data.sort_values(by=["Population","Area KM2"], ascending=False).head(20)

,Rank,City,Population,Area KM2,Area M2,Density KM2,Density M2,Country,Year
14,15,Karaçi,14910352,591.0,228.0,25229,65343,Pakistan *,2017 [11] [12]
32,33,Bombay,12442373,603.0,233.0,20634,53442,Hindistan *,2013 [30] 2019 [32]
69,70,Cakarta,10560000,662.0,255.0,15964,41346,Endonezya *,2019 [56] 2020 [57]
61,62,Seul,9962393,605.0,234.0,16461,42634,Güney Kore *,2019 [49] 2013 [50]
71,72,Kahire,9539673,606.0,234.0,15742,40772,Mısır *,2019 [59] 2017 [60]
6,7,Dakka,8906136,306.0,118.0,29069,75289,Bangladeş *,-
16,17,Kalküta,4496694,185.0,71.0,24306,62954,Hindistan *,2019 [14] 2013 [15]
46,47,Bandung,3075478,167.0,64.0,18416,47698,Endonezya *,-
52,53,Quezon şehir,2960048,166.0,64.0,17882,46315,Filipinler *,2020 [1] [3]
59,60,Çittagong,2582401,155.0,60.0,16661,43151,Bangladeş *,2018 [48]
30,31,Paris,2187526,105.0,41.0,20755,53754,Fransa *,2020 [29]
0,1,Manila,1846513,43.0,17.0,43062,111532,Filipinler *,2020 [1] 2018 [2]
23,24,Şam,1711000,77.0,30.0,22221,57552,Suriye *,-
3,4,Caloocan,1661584,53.0,21.0,31233,80893,Filipinler *,2020 [1] [3]
68,69,Barselona,1636732,101.0,39.0,16149,41827,İspanya *,2021 [55]
8,9,Manhattan,1628701,59.0,23.0,27544,71340,Amerika Birleşik Devletleri,2020
5,6,Katmandu,1442000,49.0,19.0,29161,75526,Nepal *,2020 [6]
55,56,Ciudad Nezahualcóyotl,1110565,63.0,24.0,17503,45334,Meksika *,2010 [46]
31,32,naber,1072161,52.0,20.0,20722,53670,Hindistan *,-
9,10,Port-au-Prince,987310,36.0,14.0,27395,70953,Hatay *,2015 [7]

In [27]:
#  Task 5: Thống kê mật độ dân số theo quốc gia
sum_density = data.groupby(by="Country")["Density KM2"].sum().reset_index() # mật độ dân số của quốc gia
mean_density = data.groupby(by="Country")["Density KM2"].mean().reset_index() # mật độ dân số bình quân 
print(sum_density)
print(mean_density)

                           Country  Density KM2
0      Amerika Birleşik Devletleri        43996
1    Amerika Birleşik Devletleri *        57332
2                      Bangladeş *        45730
3                        Belçika *        95726
4                      Endonezya *        48460
5                         Eritre *        21400
6                     Filipinler *       427146
7                         Fransa *       341583
8                     Güney Kore *        16461
9                          Hatay *        27395
10                     Hindistan *        65662
11                       Japonya *        17089
12                         Makao *        21224
13                     Maldivler *        23002
14                         Malta *        14100
15                       Meksika *        17503
16                        Monako *        18292
17                         Mısır *        15742
18                         Nepal *        29161
19                      Pakistan *        25229
20                     Sri Lanka *        20351
21                        Suriye *        22221
22                       Ukrayna *        19826
23                    Yunanistan *        64976
24                       İspanya *        74700
25                        İsrail *        64805
                           Country   Density KM2
0      Amerika Birleşik Devletleri  21998.000000
1    Amerika Birleşik Devletleri *  19110.666667
2                      Bangladeş *  22865.000000
3                        Belçika *  19145.200000
4                      Endonezya *  16153.333333
5                         Eritre *  21400.000000
6                     Filipinler *  23730.333333
7                         Fransa *  20093.117647
8                     Güney Kore *  16461.000000
9                          Hatay *  27395.000000
10                     Hindistan *  21887.333333
11                       Japonya *  17089.000000
12                         Makao *  21224.000000
13                     Maldivler *  23002.000000
14                         Malta *  14100.000000
15                       Meksika *  17503.000000
16                        Monako *  18292.000000
17                         Mısır *  15742.000000
18                         Nepal *  29161.000000
19                      Pakistan *  25229.000000
20                     Sri Lanka *  20351.000000
21                        Suriye *  22221.000000
22                       Ukrayna *  19826.000000
23                    Yunanistan *  21658.666667
24                       İspanya *  18675.000000
25                        İsrail *  21601.666667

In [31]:
#  Task 6: Thống qua các thành phố có dân số lớn nhất của từng quốc gia (chỉ tính của những quốc gia có 2
# thành phố xuất hiện trở lên trong bảng)

temp = task2[task2 >= 2].index

country_more_2_city = data[data["Country"].isin(temp)]

task6 = country_more_2_city.loc[country_more_2_city.groupby(by="Country")["Population"].idxmax()]

print(task6.to_string())

    Rank          City  Population  Area KM2  Area   M2  Density KM2  Density  M2                         Country                 Year
8      9     Manhattan     1628701      59.0       23.0        27544        71340     Amerika Birleşik Devletleri                 2020
37    38  Birlik Şehri       66455       3.0        1.0        20047        51921   Amerika Birleşik Devletleri *                    -
6      7         Dakka     8906136     306.0      118.0        29069        75289                     Bangladeş *                    -
65    66    Schaerbeek      133309       8.0        3.0        16377        42417                       Belçika *                    -
69    70       Cakarta    10560000     662.0      255.0        15964        41346                     Endonezya *  2019 [56] 2020 [57]
52    53  Quezon şehir     2960048     166.0       64.0        17882        46315                    Filipinler *        2020  [1] [3]
30    31         Paris     2187526     105.0       41.0        20755        53754                        Fransa *            2020 [29]
32    33        Bombay    12442373     603.0      233.0        20634        53442                     Hindistan *  2013 [30] 2019 [32]
28    29     Kallithea      100050       5.0        2.0        21063        54554                    Yunanistan *                    -
68    69     Barselona     1636732     101.0       39.0        16149        41827                       İspanya *            2021 [55]
4      5      ben fren      212646       7.0        3.0        30001        77702                        İsrail *         2022 [4] [5]